
button {
    background-color:red;
    margin: 20;
}

grid {
    row-gap: 6;
    column-gap: 6;
}

.mainPageTitle {
    font-style: bold;
    font-size: 14;
}

.mainPageSubtitle {
    margin-top: 15;
}

.detailPageTitle {
    font-style: bold;
    font-size: 14;
    text-align: center;
}

.detailPageSubtitle {
    text-align: center;
    font-style: italic;
}

listview image {
    height: 60;
    width: 60;
}

stacklayout > image {
    height: 200;
    width: 200;
}
